@import "variables.less";
@import "mixins.less";

body {
    width: 100%;
    height: 100%;
    font-family: "Lora","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: @light;
    background-color: @dark;
}

html {
    width: 100%;
    height: 100%;
}

h1 {
    font-family: @headerfont;
    text-transform: uppercase;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: @accentfont;
    margin: 0 0 35px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

p {
    font-family: @bodyfont;
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

@media(min-width:767px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: @primary;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    &:hover,
    &:focus {
        text-decoration: none;
        color: darken(@primary,20%);
    }
}

dl {
    dt {
        font-family: @accentfont;
        font-weight: 400;
        font-size: 20px;
    }
}

.light {
    font-weight: 400;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid fade(@light, 30%);
    text-transform: uppercase;
    font-family: @headerfont;
    background-color: @dark;
    .navbar-brand {
        font-weight: 700;
        &:focus {
            outline: none;
        }
        .navbar-toggle {
            padding: 4px 6px;
            font-size: 16px;
            color: @light;
            &:focus,
            &:active {
                outline: none;
            }
        }
    }
    a {
        color: @light;
    }
    .nav {
        li {
            &.active {
                outline: nonte;
                background-color: fade(@light, 30%);
            }
            a {
                -webkit-transition: background .3s ease-in-out;
                -moz-transition: background .3s ease-in-out;
                transition: background .3s ease-in-out;
                &:hover,
                &:focus,
                &.active {
                    outline: none;
                    background-color: fade(@light, 30%);
                }
            }
        }
    }
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        border-bottom: none;
        letter-spacing: 1px;
        background: transparent;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
        background-color: @dark;
    }

    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid fade(@light, 30%);
    }
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: @light;
    background: url(../img/sky1.jpg) no-repeat bottom center scroll;
    background-color: @dark;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    .intro-body {
        display: table-cell;
        vertical-align: middle;
        .brand-heading {
            font-size: 40px;
        }
    }

    .intro-panel {
        background: rgba(200, 54, 54, 0.2);
        padding-top: 10px;
        padding-bottom: 30px;
        margin-bottom: 50px;
        margin-top: 50px;
    }

    .text-panel {
        background: rgba(0, 2, 0, 0.6);
        padding-top: 30px;
        padding-bottom: 15px;
    }

    h5 {
        font-size: 28px;
        font-weight: 500;
    }

    p {
        font-family: 'Helvetica', sans-serif;
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 5px;
    }
}

@media(min-width:767px) {
    .intro {
        height: 100%;
        padding: 0;
        .intro-body {
            .brand-heading {
                font-size: 100px;
                text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F, 0 0 0.2em #87F;
            }
        }
    }
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid @light;
    border-radius: 35px;
    font-size: 40px;
    color: @light;
    background: transparent;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
    &:hover,
    &:focus {
        outline: none;
        color: @light;
        background: fade(@light, 10%);
    }
    i.animated {
        -webkit-transition-property: -webkit-transform;
        -webkit-transition-duration: 1s;
        -moz-transition-property: -moz-transform;
        -moz-transition-duration: 1s;
    }
    &:hover {
        i.animated {
            -webkit-animation-name: pulse;
            -moz-animation-name: pulse;
            -webkit-animation-duration: 1.5s;
            -moz-animation-duration: 1.5s;
            -webkit-animation-iteration-count: infinite;
            -moz-animation-iteration-count: infinite;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
        }
    }
}

@-webkit-keyframes pulse {    
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}



.program {
    display: table;
    width: 100%;
    height: auto;
    text-align: center;
    background: url(../img/jtree1.jpg) no-repeat bottom center scroll;
    background-color: @dark;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

    h1, h2, h3, p {
        color: #000;
    }

    h1 {
        padding-top: 30px;
    }

    h3 {
        margin-bottom: 40px;
        margin-top: 60px;
    }

    p {
        font-weight: 400;
    }

    .program-frame {
        background: rgba(0,128,128, 0.2);
        height: auto;
        margin: 0 auto;
        padding-top: 40px;
        padding-bottom: 40px;
        margin-bottom: 40px;
        margin-top: 20px;
    }
    .program-text {
        background: rgba(255, 255, 255, 0.5);
        width: 80%;
        height: auto;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 20px;
        padding-right: 20px;
        padding-left: 20px;
    }
}

#travel {
    h1 { 
        margin-top: 20px;
        margin-bottom: 80px;
        color: #000;
    }

    p, h2, h4, dl {
        text-align: left;
        color: #000;
    }

    dt {
        font-size: 20px;
    }

    a {
        font-size: 20px;
        font-weight: 600;
    }

    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    background: url(../img/tree-jtree.jpg) no-repeat bottom center scroll;
    background-color: @dark;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

    .travel-panel {
        background: rgba(0, 2, 0, 0.2);
        padding: 40px;
    }

    .travel-text-panel {
        background: rgba(255, 255, 255, 0.5);
        padding: 20px;
        height: auto;
    }

}

.download-section {
    width: 100%;
    padding: 50px 0;
    color: @light;
    background: url(../img/downloads-bg.jpg) no-repeat center center scroll;
    background-color: @dark;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#map {
    width: 100%;
    height: 200px;
    margin-top: 20px;
}


.who-section {
    display: table;
    width: 100%;
    height: auto;
    text-align: center;
    background: url(../img/cambridge.jpg) no-repeat bottom center scroll;
    background-color: @dark;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding-top: 120px;
    padding-bottom: 20px;

    .who-right {
        text-align: right;
        padding-right: 20px;
    }
    .who-left {
        text-align: left;
        padding-left: 20px;
    }

    h1 {
        color: #000;
        margin-bottom: 350px;
    }

    dl {
        font-family: 'Courier New', Courier, monospace;
        font-size: 18px;
    }

}

.where-section {
    display: table;
    width: 100%;
    height: auto;
    text-align: center;
    background: url("http://api.tiles.mapbox.com/v4/jtmoulia.km1k31hb/-116.341,34.080,14%20/1280x600.png32?access_token=pk.eyJ1IjoianRtb3VsaWEiLCJhIjoiT2pRSUlHayJ9.Jd8z88alcTlQJMLvEszkPw") no-repeat bottom center scroll;
    background-color: @dark;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding-top: 120px;
    padding-bottom: 20px;

    h1 {
        color: #000;
        margin-bottom: 120px;
    }

<<<<<<< Updated upstream
    .text-panel-dark {
        background: rgba(0, 2, 0, 0.7);
        padding: 20px;
=======
    h3 {

    }

    dl {
        font-family: @bodyfont;
        font-size: 18px;
>>>>>>> Stashed changes
    }
}

.contact-section {
    margin-top: 60px;
}

.contact-photo {
    display: table;
    width: 100%;
    height: 750px;
    text-align: center;
    background: url(../img/hiyaa.jpg) no-repeat bottom center scroll;
    background-color: @dark;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding-top: 120px;
    padding-bottom: 20px;
}

@media(min-width:767px) {
    .download-section {
        padding: 100px 0;
    }

    #map {
        height: 400px;
        margin-top: 100px;
    }


    .program, #travel, .where-section, .who-section {
        h1 {
            font-size: 50px;
        }
    }

    .intro {
        .intro-panel {
            margin-top: 130px;
            padding-top: 20px;
        }
    }
}

.btn {
    text-transform: uppercase;
    font-family: @headerfont;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid @primary;
    color: @primary;
    background-color: transparent;
    &:hover,
    &:focus {
        border: 1px solid @primary;
        outline: none;
        color: @dark;
        background-color: @primary;
    }
}

ul.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons {
        li {
            display: block;
            margin-bottom: 20px;
            padding: 0;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

footer {
    padding: 50px 0;
    p {
        margin: 0;
    }
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: fade(@light, 20%);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: fade(@light, 20%);
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

body {
    webkit-tap-highlight-color: fade(@light, 20%);
}